html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }
  /*Estilos generales*/
a{
    text-decoration: none;
    color: #000;
}

.contenedor{
    max-width: 1200px;
    margin: 0 auto;
}

img{
  max-width: 100%;
  display: block;
}

/*utilidades*/

.contenido-centrado{
  text-align: center;
}

h3{
  text-transform: capitalize;
}

  /** Estilos cabecera**/
.nombre-tienda{
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
  }

.nombre-tienda span{
    color: #037bc0;
   
}

.contenedor-navegacion{
    border-top: 1px solid #e1e1e1;
}

.nav-principal{
    padding: 20px 0;
    display: flex;
    justify-content: space-around;
}

.hero{
    background-image: url('../Img/Imagenes\ Ecommerce/principal.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 550px;
}

.categoria-productos{
    text-align: center;
    margin-top: 40px;
    font-size: 35px;
}

.categoria-individual{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 21px;
}

.categoria-info a {
  text-align: center;
  display: block;
  font-size: 20px;
  padding: 20px;
  max-width: 100%;
  text-transform: uppercase;
}

.categoria-info a:hover{
  background-color: #037bc0;
  color: #fff;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

/*Sobre nosotros
10 rem son 100px*/

.sobre-nosotros{
  background-image: linear-gradient(to right, transparent 50%, #037bc0 50%, #037bc0 100%),url(Img/Imagenes\ Ecommerce/nosotros.jpg);
  background-repeat: no-repeat;
  background-position: left center;
  padding: 100px 0;
  background-size: 100% , 1070px;
  margin-top: 40px;

}

.sobre-nosotros-info{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  column-gap: 50px;
}

.texto-nosotros{
  grid-column: 2 / 3;
  color: #fff;
  text-align: justify;
}


/*Productos*/

.contenido-principal{
  margin-top: 30px;
}

.productos{
  background-color: #037bc0;
}

.texto-producto{
  text-align: center;
  color: #fff;
}

.texto-producto a{
  background-color: #8cbc00;
  display: block;
  color: #fff;
  text-transform: uppercase;
  font-size: 30px;
  padding: 10px;
}

.texto-producto a:hover{
  background-color: #769c02;
}

.productos-grid{
  display: grid;
  grid-template-columns: repeat(6,1fr);
  gap: 15px;
}

.productos:nth-child(1){
  grid-column-start: 1;
  grid-column-end: 7;
  display: grid;
  grid-template-columns: 3fr 1fr;
}

.productos:nth-child(1) img{
  height: 430px;
  width: 100%;
  object-fit: cover;
}

.productos:nth-child(2){
  grid-column-start: 1;
  grid-column-end: 4;
}
.productos:nth-child(3){
  grid-column-start: 4;
  grid-column-end: 7;
  
}
.productos:nth-child(4){
  grid-column-start: 1;
  grid-column-end: 3;
  
}
.productos:nth-child(5){
  grid-column-start: 3;
  grid-column-end: 5;
  
}
.productos:nth-child(6){
  grid-column-start: 5;
  grid-column-end: 7;
 
}

/* footer */

.site-footer{
  margin-top: 10px;
  border-top: 1px solid #e1e1e1;
}

.objetos-footer{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}